/Users/carlo/workspace/carlonicolini.github.io/css/_variables.scss</parameter name="file_path">
<parameter name="content">---
---

// This file contains all shared variables used across SCSS partials
@use "sass:color";
@charset "utf-8";

// Our variables
$base-font-family: Roboto-Mono, Lato, sans-serif !default;
$base-font-size:   19px !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     28px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #FF7F00 !default;

$orange-color:       #FF7F00 !default;
$orange-color-light: color.scale($orange-color, $lightness: 80%) !default;
$orange-color-dark:  color.scale($orange-color, $lightness: -15%) !default;

$on-palm:          600px !default;
$on-laptop:        1000px !default;

// Media query mixin
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
