{% unless page.no_cta %}
<section class="post-cta" aria-labelledby="post-cta-title">
  <h2 id="post-cta-title">Let's talk!</h2>
  <p>
    I'm Carlo Nicolini — I am interested on the reliability of AI reasoning systems (interpretability, inference-time methods, probabilistic language programming) and on quantitative portfolio optimization (I am a maintainer of <a href="https://skfolio.org">skfolio</a>).
    If you're working on something in these areas and think we might collaborate, chat, discuss, I'm happy to talk about it!</p>
  <p>
    The best way to reach me is on via DM on <a href="https://www.linkedin.com/in/carlo-nicolini/">LinkedIn</a>.
  </p>
</section>
{% endunless %}
