<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  {% seo %}
  {% include mathjax_support.html %}
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
          <div class="trigger">
            <a class="page-link" href="/sections/science.html">science</a>
            <a class="page-link" href="/sections/tech.html">tech</a>
            <a class="page-link" href="/sections/publications">publications</a>
            <a class="page-link" href="/sections/software">software</a>
            <a class="page-link" href="/sections/cv">cv</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="main-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  {% include code-block-tools.html %}
  <script id="dsq-count-scr" src="//carlonicolini-github-io.disqus.com/count.js" async></script>
  </body>
</html>
